body {
  /* Margem ao redor do mapa */
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  
}

header {
  /* Cabeçalho */
  background: #388e3c;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  /* Menu de navegação (início, como separar, etc) */
  display: flex;
  justify-content: center;
  background: #388e3c;
  padding: 10px;
}

nav a {
  /* Cores das letras do menu */
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  /* Efeito ao passar o mouse */
  text-decoration: underline;
}

main {
  /* Centraliza o titulo */
  padding: 20px;
  text-align: center;
}

#map {
  /* Define o tamanho do mapa */
  height: 500px;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

footer {
  /* Rodapé */
  text-align: center;
  background: #2e7d32;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
